@use "~bootstrap/scss/bootstrap";
@use "../../base/settings" as *;

.footer-contacts {
  @extend .row;

  p {
    font-size: 0.8rem;
    margin-top: 10px;

    a {
      color: $white;
      text-decoration: none;
      &:hover {
        outline: 0;
        color: $orange;
        background-color: transparent;
      }
    }
  }
}
