@use "../../base/settings" as *;

.footer-contacts {
  p {
    font-size: 0.8rem;
    margin-top: 0.62rem;

    a {
      color: var(--margin-lane-foreground-primary-color);
      text-decoration: none;

      &:hover {
        outline: 0;
        color: var(--margin-lane-foreground-hover-color);
        background-color: transparent;
      }
    }
  }
}
