@use "../../base/settings" as *;
@use "./contacts" as *;

.footer {
  color: var(--margin-lane-foreground-primary-color);
  background-color: var(--margin-lane-background-color);
  padding-bottom: 1.5rem;

  .section-title {
    h2 {
      color: var(--margin-lane-title-color);
    }
  }

  .icon-list {
    padding-left: 0;

    li {
      display: inline-block;
      margin: 0 1.25rem;

      .btn {
        padding: 0.62rem 1.25rem;
        color: var(--margin-lane-foreground-primary-color);

        &:hover {
          color: var(--margin-lane-foreground-hover-color);
        }

        &:focus {
          color: var(--margin-lane-foreground-focus-color);
          outline: none;
          outline-offset: unset;
        }
      }
    }
  }
}
