@use "../../base/settings" as *;
@use "./contacts" as *;
@use "./info" as *;
@use "./social" as *;

.footer {
  color: $white;
  background-color: $blue;
  padding-bottom: 1.5rem;

  .section-title {
    h2 {
      color: $white;
    }
  }

  .icon-list {
    padding-left: 0;

    li {
      display: inline-block;
      margin: 0 20px;

      .btn {
        padding: 10px 20px;
        color: $white;

        &:hover {
          color: $orange;
        }

        &:focus {
          color: $orange;
          outline: none;
          outline-offset: none;
        }
      }
    }
  }
}
