@use "../base/settings" as *;

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

html, body {
  height: 96%;
}

body {
  background-color: $dark-grey;
}

.container {
  align-items: center;
  display: flex;
  height: 90vh;
  justify-content: center;

  div.col {
    color: $white;
    text-align: center;

    .blinker {
      animation: blinker 0.7s linear infinite;
    }

    .blinker-prefix::before {
      content: 'Tap';
      @media only screen and (min-width: $small-desktop-breakpoint) {
        content: 'Click';
      }
    }
  }

  div[data-redirecting="true"] {
    display: block;
  }

  span[data-redirecting="true"] {
    display: inline;
  }

  [data-redirecting="false"] {
    display: none;
  }
}
