@use "../base/settings" as *;

#about-me {
  .about-photo {
    height: 13rem;

    @media (min-width: $small-desktop-breakpoint) {
      margin-left: 4rem;
    }

    .about-photo--portrait {
      position: absolute;
      width: 200px;
      height: 200px;
      display: inline-block;
      text-align: center;
    }
  }
}
