@use "../base/settings" as *;

.back-to-top {
  display: inline-block;
  background-color: $dark-blue;
  width: 3.1rem;
  height: 3.1rem;
  text-align: center;
  border-radius: 0.25rem;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  transition: background-color .3s,
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

.back-to-top::after {
  content: "↑";
  font-family: FontAwesome, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 3.1rem;
  color: $white;
}

.back-to-top:hover {
  cursor: pointer;
}

.back-to-top:active {
  background-color: #555;
}

.back-to-top.show {
  opacity: 0.3;
  visibility: visible;
}
