@use "~bootstrap/scss/bootstrap";
@use "../base/settings" as *;

#certificates {
  img {
    max-height: 6rem;
    max-width: 6rem;
  }

  .card {
    @extend .text-muted;
    background: var(--certificate-background-color);
    text-align: center;
    width: 9.4rem;
    border-color: var(--certificate-border-color);
  }

  @mixin truncate-single-line($max-width) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: $max-width;
  }

  .card-title {
    @include truncate-single-line(7rem);
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 0.7rem;
    color: var(--certificate-foreground-primary-color)
  }

  .card-subtitle {
    @include truncate-single-line(7rem);
    padding-top: 1rem;
    font-size: 0.7rem;
    text-transform: capitalize;
    color: var(--certificate-foreground-secondary-color)
  }

  .card-footer {
    padding-top: 0.45rem;
    padding-bottom: 0.45rem;
    font-size: 0.6rem;
    border-top-color: var(--certificate-border-color);
    color: var(--certificate-foreground-primary-color);
  }
}
