.language-list {
  div {
    display: inline-grid;
    .h5 {
			text-transform: uppercase;
    }
    a {
      color: $blue;
      text-decoration: none;
			&:hover {
				outline: 0;
				color: $orange;
				background-color: transparent;
			}
    }
    .flag-icon {
      border-radius: 30px;
    }
  }
}