#certificates {
  img {
    max-height: 1.5rem;
    max-width: 1.5rem;
  }
  a {
    color: $blue;
    text-decoration: none;
    &:hover {
      outline: 0;
      color: $orange;
      background-color: transparent;
    }
  }
  strong {
    text-transform: capitalize;
  }
}