#about {
	.about-text {
		margin-left: 10px;
		a {
			margin: 0 auto;
		}
	}
	.about-photo {
		height: 13rem;
		.about-photo--badge {
			height: 4rem;
			margin: 8rem 0 0 10rem;
			position: absolute;
		}
		.about-photo--portrait {
			position: absolute;
			border-radius: 50%;
			width: 200px;
			height: 200px;
			display: inline-block;
			text-align: center;
		}
	}
	p {
		margin-top: 20px;
		margin-bottom: 30px;
	}
}