.light-component {
  background: $white;
	.section-title {
		h2 {
			color: $grey;
		}
	}
}
.dark-component {
	background: $blue;
	.section-title {
		h2 {
			color: $white;
		}
	}
}
.section-title {
	padding: 4rem 0 0 0;
	h2 {
		font-weight: 700;
		margin-bottom: 30px;
	}
	hr {
		background: $orange;
		border: 0;
		height: 4px;
		margin: 0 auto;
		margin-bottom: 30px;
		position: relative;
		text-align: center;
		width: 70px;
	}
}
