#nav {
	z-index: 9999;
}
#nav.affix-top {
	position: fixed;
	top: 0;
	width: 100%;
}
.navbar-custom {
	margin-bottom: 0;
	background-color: $blue;
	border-radius: 0;
	.navbar-brand {
		color: $white;
		font-weight: 600;
		&:focus {
			outline: 0;
		}
	}
	.navbar-toggler {
		padding: 4px 6px;
		font-size: 16px;
		color: #fff;
		&:focus {
			outline: 0;
		}
		&:active {
			outline: 0;
		}
	}
	.nav-link {
		color: $white;
	}
}
.btn-primary {
	color: #76818d;
	background-color: transparent;
	border-color: #76818d;
	margin: 0 10px;
	font-size: 16px;
	&:hover {
		color: #eee;
		background-color: $blue;
		border-color: $blue;
	}
	&:focus {
		color: #eee;
		background-color: $blue;
		border-color: $blue;
	}
	&:active {
		color: #eee;
		background-color: $blue;
		border-color: $blue;
	}
}
.navbar-container {
	.navbar-nav {
		li {
			.dropdown-menu .dropdown-item, .nav-link {
				text-transform: uppercase;
				letter-spacing: 1px;
				-webkit-transition: background .3s ease-in-out;
				-moz-transition: background .3s ease-in-out;
				transition: background .3s ease-in-out;
				font-size: 14px;
				@media (min-width: 830px) {
					font-size: 16px;
				}
				&:hover {
					outline: 0;
					color: $orange;
					background-color: transparent;
				}
				&:focus {
					outline: 0;
					background-color: transparent;
					color: $orange;
				}
				&:active {
					outline: 0;
					background-color: transparent;
					color: $orange;
				}
			}
			.dropdown-menu {
				background: $blue;
				border-width: 0;
				min-width: 7.5rem;
				.dropdown-item {
					color: $white;
				}
			}
		}
		li.active {
			outline: 0;
			.nav-link {
				background-color: rgba(255,255,255,.3);
				&:hover {
					color: #fff;
				}
			}
		}
	}
}
.btn-primary.focus {
	color: #eee;
	background-color: $blue;
	border-color: $blue;
}
.btn-primary.active {
	color: #eee;
	background-color: $blue;
	border-color: $blue;
}
.btn-primary {
	color: #76818d;
	background-color: #fff;
	border-color: #76818d;
	&:hover {
		color: #eee;
		background-color: $blue;
		border-color: $blue;
	}
	&:focus {
		color: #eee;
		background-color: $blue;
		border-color: $blue;
	}
	&:active {
		color: #eee;
		background-color: $blue;
		border-color: $blue;
	}
	i.fa {
		margin-right: 10px;
	}
}
.btn-primary.focus {
	color: #eee;
	background-color: $blue;
	border-color: $blue;
}
.btn-primary.active {
	color: #eee;
	background-color: $blue;
	border-color: $blue;
}
