@use "../base/settings" as *;

.header {
  background-color: var(--header-background-color);
  color: var(--header-foreground-primary-color);
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 2rem;

  @media (min-width: $md-breakpoint) {
    padding-bottom: 0;
  }

  .header__img-container {
    img {
      max-height: 30rem;
    }
  }

  .btn-primary {
    color: var(--header-foreground-secondary-color);
    border-color: var(--header-foreground-secondary-color);
    background-color: transparent;
    margin: 0 0.62rem;
    font-size: 1rem;

    &:hover {
      color: var(--header-foreground-hover-color);
      background-color: var(--header-foreground-hover-background-color);
      border-color: var(--header-foreground-hover-background-color);
    }

    &:focus {
      color: var(--header-foreground-focus-color);
      background-color: var(--header-foreground-focus-background-color);
      border-color: var(--header-foreground-focus-background-color);
    }

    &:active {
      color: var(--header-foreground-active-color);
      background-color: var(--header-foreground-active-background-color);
      border-color: var(--header-foreground-active-background-color);
    }
  }
}
