@use "../base/settings" as *;

.language-list {
  > div {
    display: inline-grid;

    .h5 {
      text-transform: uppercase;
      color: var(--section-languages-color);
    }

    a {
      text-decoration: none;

      &:hover {
        outline: 0;
        color: var(--section-languages-hover-color);
        background-color: transparent;
      }
    }
  }
}
