@use "../base/settings" as *;

.language-list {
  > div {
    display: inline-grid;

    .h5 {
      text-transform: uppercase;
      color: $dark-orange;
    }

    a {
      text-decoration: none;

      &:hover {
        outline: 0;
        color: $orange;
        background-color: transparent;
      }
    }
  }
}
