meta(name="twitter:card" content="summary")
meta(name="twitter:creator" content="@fabasoad")
meta(property='og:url' content="https://fabasoad.github.io/business-card/")
meta(property='og:title' content="Personal website")
meta(property='og:description' content="Yevhen Fabizhevskyi's personal website.")
meta(property='og:image' content="https://fabasoad.github.io/business-card/assets/images/meta/twitter.png")