@use "../../base/settings" as *;

.controls__date-duration {
  color: $orange;
  position: absolute;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.6rem;
  width: 100%;
  font-size: 0.3rem;
  @media (min-width: $small-desktop-breakpoint) {
    margin-top: 1.2rem;
    font-size: 0.6rem;
  }
  @media (min-width: $desktop-breakpoint) {
    margin-top: 0.9rem;
    font-size: 0.6rem;
  }
  @media (min-width: $tv-breakpoint) {
    margin-top: 1.4rem;
    font-size: 0.7rem;
  }
}
