@use "../../base/settings" as *;
@use "../../base/base" as *;

.error {
  @extend .font-regular;
  @extend .font-non-jp;

  align-items: center;
  background-color: var(--error-background-color);
  color: var(--error-foreground-primary-color);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;

  a {
    color: var(--error-foreground-secondary-color);
    text-decoration: none;

    &:hover {
      outline: 0;
      color: var(--error-foreground-hover-color);
      background-color: transparent;
    }
  }
}
