@use "../../base/settings" as *;

.section-title {
  padding: 4rem 0 0 0;

  h2 {
    font-weight: 700;
    margin-bottom: 1.87rem;
    color: var(--section-title-color);
  }

  hr {
    background: var(--section-foreground-secondary-color);
    border: 0;
    height: 0.25rem;
    margin: 0 auto 1.87rem;
    position: relative;
    text-align: center;
    width: 4.37rem;
  }
}
