@use "../../base/settings" as *;

#nav {
  z-index: 9999;
}

#nav.affix-top {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-custom {
  margin-bottom: 0;
  background-color: var(--margin-lane-background-color);
  border-radius: 0;

  .navbar-brand {
    color: var(--margin-lane-foreground-secondary-color);
    font-weight: 700;
    font-size: 1.2rem;

    @media (min-width: $small-desktop-breakpoint) {
      font-size: 0.9rem;
    }

    @media (min-width: $lg-breakpoint) {
      font-size: 1.1rem;
    }

    @media (min-width: $desktop-breakpoint) {
      font-size: 1.2rem;
    }

    &:focus {
      outline: 0;
    }
  }

  .navbar-toggler {
    border-color: transparent;
    font-size: 1rem;
    padding: 0.25rem 0.37rem;

    &:focus {
      outline: 0;
    }

    &:active {
      outline: 0;
    }
  }
}

#basic-navbar-nav {
  justify-content: space-between;

  .navbar-nav {
    .dropdown {
      font-size: 0.9rem;
      line-break: anywhere;

      .dropdown-menu {
        background-color: var(--margin-lane-background-color);
        border-width: 0;
        min-width: 4.5rem;
      }
    }

    a {
      margin-left: 1.3rem;

      @media (min-width: $small-desktop-breakpoint) {
        margin-left: 0;
      }
    }

    .nav-link {
      -webkit-transition: background .3s ease-in-out;
      -moz-transition: background .3s ease-in-out;
      background-color: transparent;
      color: var(--margin-lane-foreground-primary-color);
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: background .3s ease-in-out;
      outline: 0;

      i {
        margin: 0 0.3rem 0 0.5rem;
      }

      @media (min-width: $small-desktop-breakpoint) {
        font-size: 0.68rem;
      }

      // Has to be this exact value
      @media (min-width: 790px) {
        font-size: 0.7rem;
      }

      // Has to be this exact value
      @media (min-width: 848px) {
        font-size: 0.8rem;
      }

      @media (min-width: $lg-breakpoint) {
        font-size: 0.9rem;
      }

      @media (min-width: $desktop-breakpoint) {
        font-size: 1rem;
      }

      &.active {
        color: var(--margin-lane-foreground-active-color);
      }

      &:hover {
        color: var(--margin-lane-foreground-hover-color);
      }

      &:focus {
        color: var(--margin-lane-foreground-focus-color);
      }
    }
  }
}
