@use "../../base/settings" as *;
@use "./locale-dropdown" as *;

#nav {
  z-index: 9999;
}

#nav.affix-top {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-custom {
  margin-bottom: 0;
  background-color: $blue;
  border-radius: 0;

  .navbar-brand {
    color: $dark-white !important;
    font-weight: 700;
    font-size: 1.2rem;

    @media (min-width: $small-desktop-breakpoint) {
      font-size: 0.9rem;
    }

    @media (min-width: $lg-breakpoint) {
      font-size: 1.1rem;
    }

    @media (min-width: $desktop-breakpoint) {
      font-size: 1.2rem;
    }

    &:focus {
      outline: 0;
    }
  }

  .navbar-toggler {
    border-color: transparent;
    font-size: 1rem;
    padding: 4px 6px;

    &:focus {
      outline: 0;
    }

    &:active {
      outline: 0;
    }
  }
}

#basic-navbar-nav {
  justify-content: space-between;

  .navbar-nav {
    .dropdown {
      color: $white;
      font-size: 0.9rem;
      line-break: anywhere;

      .dropdown-menu {
        background: $blue;
        border-width: 0;
        min-width: 4.5rem;

        .dropdown-item {
          color: $white;
        }
      }
    }

    a {
      margin-left: 1.3rem;

      @media (min-width: $small-desktop-breakpoint) {
        margin-left: 0;
      }
    }

    .nav-link {
      -webkit-transition: background .3s ease-in-out;
      -moz-transition: background .3s ease-in-out;
      color: $white;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: background .3s ease-in-out;

      @media (min-width: $small-desktop-breakpoint) {
        font-size: 0.68rem;
      }

      @media (min-width: 790px) {
        font-size: 0.7rem;
      }

      @media (min-width: 848px) {
        font-size: 0.8rem;
      }

      @media (min-width: $lg-breakpoint) {
        font-size: 0.9rem;
      }

      @media (min-width: $desktop-breakpoint) {
        font-size: 1rem;
      }

      &:hover {
        outline: 0;
        color: $orange;
        background-color: transparent;
      }

      &:focus {
        outline: 0;
        background-color: transparent;
        color: $orange;
      }

      &:active {
        outline: 0;
        background-color: transparent;
        color: $orange;
      }
    }

    .nav-link.active {
      color: $dark-white;
      outline: 0;
    }
  }
}
