# MacOS
.DS_Store

# IDE
.idea
.vscode/*

# Env vars
.envrc
.env.*

# Terraform
.terraform
.terraform.lock.hcl

# Project
coverage
node_modules/
public/*
!public/404.html
!public/favicon.png
!public/index.html
!public/meta.png
!.vscode/settings.json
yarn-error.log
