# MacOS
.DS_Store

# IDE
.idea
.vscode

# Env vars
.envrc
.env.*

# Project
coverage
public/*
!public/404.html
!public/favicon.png
!public/index.html
!public/meta.png

# yarn
node_modules
yarn-error.log
.pnp.*
.yarn
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
