#about {
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, $white 49%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(49%, $white), color-stop(100%, #ffffff));
	background: -webkit-linear-gradient(top, #ffffff 0%, $white 49%, #ffffff 100%);
	background: -o-linear-gradient(top, #ffffff 0%, $white 49%, #ffffff 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, $white 49%, #ffffff 100%);
	background: linear-gradient(to bottom, #ffffff 0%, $white 49%, #ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
	color: #333;
	.about-text {
		margin-left: 10px;
	}
	img {
		border-radius: 50%;
		width: 200px;
		height: 200px;
		display: inline-block;
		text-align: center;
	}
	p {
		margin-top: 20px;
		margin-bottom: 30px;
	}
}
.about-text {
	a {
		margin: 0 auto;
	}
}