.header {
	position: relative;
	height: 100vh;
	background-image: url('../images/logo.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;

	.header__text,  {
        position: absolute;
        padding-left: 5rem;
        top: 50%;
	}
    a {
        background: rgba(255, 255, 255, 0);
    }
	.btn-primary {
		color: #F4FFFF;
		border-color: #F4FFFF;
	}
}