/*	text-align: center;
}
hr {
	height: 4px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #E87E04;
	margin: 0 auto;
	margin-bottom: 30px;
	border: 0;
}*/
/*.section-title.center {
	padding: 30px 0;
}
.section-title h2, .section-title.center h2 {
	font-weight: 700;
	margin-bottom: 30px;
}
.section-title.center hr {
	height: 4px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #E87E04;
	margin: 0 auto;
	margin-bottom: 30px;
	border: 0;
}
#about {
	padding: 0;
	background: #ffffff; //Old browsers 
	background: -moz-linear-gradient(top, #ffffff 0%, #f4f5f6 49%, #ffffff 100%); // FF3.6+ 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(49%, #f4f5f6), color-stop(100%, #ffffff)); //Chrome,Safari4+ 
	background: -webkit-linear-gradient(top, #ffffff 0%, #f4f5f6 49%, #ffffff 100%); // Chrome10+,Safari5.1+
	background: -o-linear-gradient(top, #ffffff 0%, #f4f5f6 49%, #ffffff 100%); // Opera 11.10+ 
	background: -ms-linear-gradient(top, #ffffff 0%, #f4f5f6 49%, #ffffff 100%); // IE10+ 
	background: linear-gradient(to bottom, #ffffff 0%, #f4f5f6 49%, #ffffff 100%); // W3C 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 ); // IE6-9 
}
#about .about_me__text {
	margin-left: 10px;
}
#about h1 {
	color: #333;
		img {
			border-radius: 50%;
			width: 200px;
			height: 200px;
			display: inline-block;
		}
		p {
			margin-top: 20px;
			margin-bottom: 30px;
		}
}*/

/* About Section */
#about {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f4f5f6 49%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(49%, #f4f5f6), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #f4f5f6 49%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #f4f5f6 49%, #ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #f4f5f6 49%, #ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #f4f5f6 49%, #ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 ); /* IE6-9 */
}
#about .about-text {
	margin-left: 10px;
}
#about {
	color: #333;
}
#about img {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	display: inline-block;
	text-align: center;
}
#about p {
	margin-top: 20px;
	margin-bottom: 30px;
}
.about-text a {
		margin: 0 auto;
	}