#nav {
	z-index: 9999;
}
#nav.affix {
	position: fixed;
	top: 0;
	width: 100%;
}
.navbar-custom {
	margin-bottom: 0;
	background-color: #2c3e50;
	border-radius: 0px;
	padding: 6px 0;
	.navbar-brand {
		font-weight: 600;
		&:focus {
			outline: 0;
		}
		.navbar-toggle {
			padding: 4px 6px;
			font-size: 16px;
			color: #fff;
			&:focus {
				outline: 0;
			}
			&:active {
				outline: 0;
			}
		}
	}
	a {
		color: #f4f5f6;
	}
	.nav {
		li {
			a {
				text-transform: uppercase;
				letter-spacing: 1px;
				-webkit-transition: background .3s ease-in-out;
				-moz-transition: background .3s ease-in-out;
				transition: background .3s ease-in-out;
				&:hover {
					outline: 0;
					color: #E87E04;
					background-color: transparent;
				}
				&:focus {
					outline: 0;
					background-color: transparent;
					color: #E87E04;
				}
				&:active {
					outline: 0;
					background-color: transparent;
					color: #E87E04;
				}
			}
		}
		li.active {
			outline: 0;
			a {
				background-color: rgba(255,255,255,.3);
				&:hover {
					color: #fff;
				}
			}
		}
	}
}
.btn-default {
	color: #76818d;
	background-color: transparent;
	border-color: #76818d;
	margin: 0 10px;
	font-size: 16px;
	&:hover {
		color: #eee;
		background-color: #2c3e50;
		border-color: #2c3e50;
	}
	&:focus {
		color: #eee;
		background-color: #2c3e50;
		border-color: #2c3e50;
	}
	&:active {
		color: #eee;
		background-color: #2c3e50;
		border-color: #2c3e50;
	}
}
.btn-default.focus {
	color: #eee;
	background-color: #2c3e50;
	border-color: #2c3e50;
}
.btn-default.active {
	color: #eee;
	background-color: #2c3e50;
	border-color: #2c3e50;
}
.btn-primary {
	color: #76818d;
	background-color: #fff;
	border-color: #76818d;
	&:hover {
		color: #eee;
		background-color: #2c3e50;
		border-color: #2c3e50;
	}
	&:focus {
		color: #eee;
		background-color: #2c3e50;
		border-color: #2c3e50;
	}
	&:active {
		color: #eee;
		background-color: #2c3e50;
		border-color: #2c3e50;
	}
	i.fa {
		margin-right: 10px;
	}
}
.btn-primary.focus {
	color: #eee;
	background-color: #2c3e50;
	border-color: #2c3e50;
}
.btn-primary.active {
	color: #eee;
	background-color: #2c3e50;
	border-color: #2c3e50;
}
