<div id="certificates" class="light-component">
  <div class="section-title text-center center"><h2>business-card-certificates-title</h2>
    <hr>
  </div>
  <div class="container">
    <div class="row row-cols-lg-5 row-cols-md-3 row-cols-2">
      <div class="mb-2 col-lg">
        <div class="card">
          <div class="card-header"><img class="card-img me-2" src="[object Object]">hackerRank</div>
          <div class="card-body"><p class="card-text"><a class="card-link" target="_blank"
                                                         rel="noopener noreferrer"
                                                         href="https://www.hackerrank.com/certificates/f75cdd8ed9f0">business-card-certificate-5</a>
          </p></div>
          <div class="card-footer">business-card-month-9 2020</div>
        </div>
      </div>
      <div class="mb-2 col-lg">
        <div class="card">
          <div class="card-header"><img class="card-img me-2" src="[object Object]">oracle</div>
          <div class="card-body"><p class="card-text"><a class="card-link" target="_blank"
                                                         rel="noopener noreferrer"
                                                         href="https://www.youracclaim.com/badges/689b9d7e-cae5-4e36-8a1f-c8c34f104249/public_url">business-card-certificate-4</a>
          </p></div>
          <div class="card-footer">business-card-month-5 2020</div>
        </div>
      </div>
      <div class="mb-2 col-lg">
        <div class="card">
          <div class="card-header"><img class="card-img me-2" src="[object Object]">udemy</div>
          <div class="card-body"><p class="card-text"><a class="card-link" target="_blank"
                                                         rel="noopener noreferrer"
                                                         href="http://ude.my/UC-JGDVYKAQ">business-card-certificate-3</a>
          </p></div>
          <div class="card-footer">business-card-month-10 2019</div>
        </div>
      </div>
      <div class="mb-2 col-lg">
        <div class="card">
          <div class="card-header"><img class="card-img me-2" src="[object Object]">coursera</div>
          <div class="card-body"><p class="card-text"><a class="card-link" target="_blank"
                                                         rel="noopener noreferrer"
                                                         href="https://www.coursera.org/account/accomplishments/specialization/W5AB2PBZQNPY">business-card-certificate-2</a>
          </p></div>
          <div class="card-footer">business-card-month-3 2018</div>
        </div>
      </div>
      <div class="mb-2 col-lg">
        <div class="card">
          <div class="card-header"><img class="card-img me-2" src="[object Object]">coursera</div>
          <div class="card-body"><p class="card-text"><a class="card-link" target="_blank"
                                                         rel="noopener noreferrer"
                                                         href="https://www.coursera.org/account/accomplishments/verify/MWE43H8YDS">business-card-certificate-1</a>
          </p></div>
          <div class="card-footer">business-card-month-5 2015</div>
        </div>
      </div>
    </div>
  </div>
</div>
