#about
	.container
		.section-title.text-center.center
			h2 About Me
			hr
		.row
			.col-md-12.text-center
				img.img-responsive(src="./images/card.jpg")
			.col-md-8.col-md-offset-2
				.about-text
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium vitae ad asperiores quisquam consequuntur suscipit in necessitatibus corporis nihil nam!
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi sunt aspernatur nobis, dolorem at explicabo voluptate voluptates qui culpa! Earum.
					p div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur fugiat necessitatibus veritatis cum ratione illum et ducimus consectetur quia porro.
					p Doloribus vel facilis impedit, dolores necessitatibus voluptas libero expedita voluptatem iste eveniet id, harum velit voluptate molestiae vero! In, odio.
					p.text-center
						a.btn.btn-default.btn-lg.page-scroll(href="#") Download Resume