#about
	.container
		.section-title.text-center.center
			h2 About Me
			hr
		.row.d-flex.justify-content-center
			.col-md-12.text-center
				img.img-thumbnail(src="assets/images/about_me.jpg")
			.col-md-8.col-md-offset-2.text-center
				.about-text
					p General:
						ul.list-unstyled
							li 9+ years of commercial software development experience. 8 years in an Agile environment.
							li Good understanding of all components of the software development lifecycle.
							li Past experience on Kubernetes. Current working knowledge of Docker.
							li Good communication skills to articulate the message and vision clearly
							li Strong experience with the following programming languages: Java, C#/.NET, Python, JavaScript. Also, have superficial experience with PHP, Ruby, C++, Kotlin, Shell, etc.
							li Fluent English, written and spoken.
					p Experience:
						ul.list-unstyled
							li Java - 4.5 years
							li C#/.NET - 3.5 years
							li JavaScript - 8 months
							li PHP - 6 months
							li Python - 2 months
							li C++ - 2 months
					p.text-center
						a#resume.btn.btn-primary.btn-lg.page-scroll(href="assets/files/yf-cv.pdf" target="_blank") Download Resume