#about
	.container
		.section-title.text-center.center
			h2 About Me1
			hr
		.row
			.col-md-12.text-center
				img.img-responsive(src="assets/images/about_me.jpg")
			.col-md-8.col-md-offset-2
				.about-text
					p  General: 8+ years of commercial software development experience. Research, design and support. Interested in studying of new technologies and new program languages.
					p  Specialization: 
						|Primary: Java, C#/.NET
						|Secondary: Javascript, Python
					p Experience:
						|Java - 4 years
						|C#/.NET - 3 years
						|PHP - 0.5 years
						|JavaScript - 4 months
						|C++ - 2 months
					p.text-center
						a#resume.btn.btn-default.btn-lg.page-scroll(href="assets/files/yf-cv.pdf" target="_blank") Download Resume