#about.component
	.container
		.section-title.text-center.center
			h2(data-i18n="business-card-about-me-title")
			hr
		.row.d-flex.justify-content-center
			.col-md-12.text-center
				img.img-thumbnail(src="assets/images/about_me.jpg" alt="About me")
			.col-md-8.col-md-offset-2.text-center
				.about-text
					p(data-i18n="business-card-about-me-general-title")
					- var n_general = 2
					ul.list-unstyled
						li(name="business-card-about-me-general-list-item-1")
						while n_general < 7
							li(data-i18n="business-card-about-me-general-list-item-" + n_general++)
					p(data-i18n="business-card-about-me-experience-title")
					- var n_experience = 1
					ul.list-unstyled
						while n_experience < 7
							li(data-i18n="business-card-about-me-experience-list-item-" + n_experience++)
