#education.text-center
  .container
    .section-title.center
      h2(data-i18n="business-card-education-title")
      hr
    .row
      .col-lg-12
        ul.timeline
          li
            .timeline-image
              h4
                | 2010
                br
                | -
                br
                | 2009
            .timeline-panel
              .timeline-heading
                h4(data-i18n="business-card-education-university-title")
                h4.subheading(data-i18n="business-card-education-university-master")
              .timeline-body
                p(data-i18n="business-card-education-university-speciality")
          li.timeline-inverted
              .timeline-image
                h4
                  | 2009
                  br
                  | -
                  br
                  | 2005
              .timeline-panel
                .timeline-heading
                  h4(data-i18n="business-card-education-university-title")
                  h4.subheading(data-i18n="business-card-education-university-bachelor")
                .timeline-body
                  p(data-i18n="business-card-education-university-speciality")