#resume.text-center
  .container
    .section-title.center
      h2 Experience
      hr
    .row
      .col-lg-12
        ul.timeline
          li
            .timeline-image
              h4 Feb 2013 
                br
                - 
                br
                |Present
            .timeline-panel
              .timeline-heading
                h4 Creative Agency
                h4.subheading UX Developer
              .timeline-body
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.
          li.timeline-inverted
            .timeline-image
              h4
                | Nov 2011 
                br
                |                 - 
                br
                |                 Jan 2013
            .timeline-panel
              .timeline-heading
                h4 Creative Agency
                h4.subheading Front-end Developer
              .timeline-body
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.
          li
            .timeline-image
              h4
                | Dec 2009 
                br
                |                 - 
                br
                |                 May 2011
            .timeline-panel
              .timeline-heading
                h4 Creative Agency
                h4.subheading UX Designer
              .timeline-body
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.
  .container
    .section-title.center
      h2 Education
      hr
    .row
      .col-lg-12
        ul.timeline
          // Education Section
          li
            .timeline-image
              h4
                | 2010 
                br
                |                 - 
                br
                |                 2011
            .timeline-panel
              .timeline-heading
                h4 Design University
                h4.subheading Master Degree of Design
              .timeline-body
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.
          li.timeline-inverted
            .timeline-image
              h4
                | 2007 
                br
                |                 - 
                br
                |                 2010
            .timeline-panel
              .timeline-heading
                h4 Design University
                h4.subheading Bachelor Degree of Design
              .timeline-body
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.
          li
            .timeline-image
              h4
                | 2004 
                br
                |                 - 
                br
                |                 2007
            .timeline-panel
              .timeline-heading
                h4 School Name
                h4.subheading High School Degree
              .timeline-body
                p.text-muted
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.
