#experience.text-center
  .container
    .section-title.center
      h2 Experience
      hr
    .row
      .col-lg-12
        ul.timeline
          li
            .timeline-image
              h4
                | Present
                br
                | - 
                br
                | Jul 2019
            .timeline-panel
              .timeline-heading
                h4 Bitcoin.com
                h4.subheading Senior Full Stack Software Engineer
              .timeline-body
                p In addition to the previous duties:
                h5 Description:
                p Configuring and connecting CI for current projects from the scratch. Bitrise for Android app and Travis CI for casinos and Administration tool.
                p Implementation and support the following features:
                p - In the beginning casino has 8 own games. One of the valuable feature was connecting a big amount of games using API of 3rd party organization that provides such service. Role of this organization is games aggregator that collects many games from different companies and provides all the games using unified API for casinos.
                h5 Technologies:
                p CI: Travis CI and Bitrise
                h5 Scope of work:
                p - Feature leading.
                p - Feature planning.
          li.timeline-inverted
            .timeline-image
              h4
                | Jun 2019
                br
                | - 
                br
                | Sep 2018
            .timeline-panel
              .timeline-heading
                h4 Bitcoin.com
                h4.subheading Full Stack Software Engineer
              .timeline-body
                h5 Area:
                p Games department.
                h5 Description:
                p Work on cryptocurrency casinos (all layers). Mostly work on Administration tool for casino. Implementation and support the following features:
                p - Monthly/Daily reporting that allows to see income in cryptocurrency as well as in fiat.
                p - Players managing - sending bonuses, reset password, watch statistics, etc.
                p - Admin permissions managing allows giving a permissions for specific features for some admins only.
                p - Leader board allows to see players that won the biggest amount of money either by 1 game or in total.
                p - Campaigns managing allows to create and support campaigns for marketing department.
                p - A lot of other features - Restoring player, referrer players, E-mail subscriptions, etc.
                p Also, restore Android app application with legacy code. Upgrade it to the latest version, redesign it based on the latest company design rules and add an additional features.
                h5 Technologies:
                p Backend: Maven, Java 8 (Tomcat, Facelets, lombok, slf4j, JUnit), Python
                p Frontend: JavaScript (jQuery), Bootstrap 4
                p Database: MariaDB, Redis
                p SCM: Git
                h5 Scope of work:
                p - Develop backend and frontend layers using Python, Java, JavaScript, HTML, CSS.
                p - Support of Android app.
                p - Planning and design new features.
                p - Bug fixing.
                p - Tests coverage.
          li
            .timeline-image
              h4
                | Sep 2018
                br
                | -
                br
                | Feb 2016
            .timeline-panel
              .timeline-heading
                h4 Lohika
                h4.subheading Senior Software Development Engineer
              .timeline-body
                p - Worked as off-shore contractor for Earnin in Microservices team (May, 2018 - Sep, 2018).
                p - Worked as off-shore contractor for Prysm Inc. on Prysm project for iPhone (Apr, 2017 - Mar, 2018).
                p - Worked as off-shore contractor for HPE on ALM project (Oct, 2011 - Mar, 2017).
                p - Interviewing external and internal candidates.
                p - Leading of internal Java trainings.
                p - Got "Junior Front-End Developer"​ skill after finish "Front-End Secondary Skills"​ course (Sep, 2016 - Dec, 2016). During this course I've got new skills to work with the following technologies: Gulp, Bower, SASS, HTML5, Ecmascript 6, NPM, NodeJS.
          li.timeline-inverted
            .timeline-image
              h4
                | Mar 2017
                br
                | - 
                br
                | Oct 2011
            .timeline-panel
              .timeline-heading
                h4 Hewlett Packard Enterprise
                h4.subheading Senior Software Development Engineer
              .timeline-body
                h5 Projects:
                p Application Lifecycle Management, Lab Management, ALM Robot, ALM SaaS Add-on
                h5 Description:
                p Worked as a Full Stack Developer from 11.00 and till 14.00 versions included (3 major releases). Starting as a C#/.NET Front-End developer. After ~1.5 years has been worked as a Java back-end developer as well.
                h5 Technologies:
                p Backend: Maven, Java (Spring, JUnit)
                p Frontend: C#/.NET (Windows Forms), Delphi 6, JavaScript
                p Database: MSSQL, Oracle
                p SCM: SVN, Git
                h5 Scope of work:
                p - Customers'​ support and incidents solving.
                p - Feature design and implementation.
                p - Feature leading.
                p - Publishing articles.
                p - Requirements analysis, writing of technical and functional specifications.
                p - Bug fixing.
                p - Working with legacy code.
                p - Refactoring, Performance optimization for high-load.
                p - Writing automation tests.
                p - Collaboration with DevOps department, architects, QA engineers, including acceptance tests.
                p - Team lead backup.
          li
            .timeline-image
              h4
                | Jan 2016
                br
                | - 
                br
                | May 2013
            .timeline-panel
              .timeline-heading
                h4 Lohika
                h4.subheading Software Development Engineer
              .timeline-body
                p
                  | Working as off-shore contractor for HPE.
          li.timeline-inverted
            .timeline-image
              h4
                | Apr 2013
                br
                | - 
                br
                | Oct 2011
            .timeline-panel
              .timeline-heading
                h4 Lohika
                h4.subheading .NET Associate Software Developer
              .timeline-body
                p
                  | Working as off-shore contractor for HPE.
          li
            .timeline-image
              h4
                | Sep 2011 
                br
                | - 
                br
                | Mar 2010
            .timeline-panel
              .timeline-heading
                h4 ARKA
                h4.subheading Full Stack Developer
              .timeline-body
                p - Developing web-applications as a backend-developer (PHP + MySQL) using different kinds of modules/plugins/frameworks (Codeigniter 2.0.2, vBulletin, OXID eShop 4.5, Smarty) and as a frontend-developer (JavaScript) using jQuery and different plugins based on jQuery (jqGrid 4.1.2, Fancybox, Lightbox, SimpleModal, CKEditor 3.6.1, Spacegallery, FancyUpload).
                p - Developing RIA (Silverlight C#/.NET) using ComponentOne 4.0 libraries.
#education.text-center
  .container
    .section-title.center
      h2 Education
      hr
    .row
      .col-lg-12
        ul.timeline
          // Education Section
          li
            .timeline-image
              h4
                | 2010
                br
                | -
                br
                | 2009
            .timeline-panel
              .timeline-heading
                h4 Odessa State Academy of Refrigeration
                h4.subheading Master's degree
              .timeline-body
                p Information Technology
          li.timeline-inverted
              .timeline-image
                h4
                  | 2009
                  br
                  | -
                  br
                  | 2005
              .timeline-panel
                .timeline-heading
                  h4 Odessa State Academy of Refrigeration
                  h4.subheading Bachelor's degree
                .timeline-body
                  p Information Technology