#experience.text-center.component
  .container
    .section-title.center
      h2(data-i18n="business-card-experience-title")
      hr
    .row
      .col-lg-12
        ul.timeline
          li
            .timeline-image
              h4
                span(data-i18n="business-card-experience-present")
                br
                | - 
                br
                span.mr-1(data-i18n="business-card-month-7")
                span 2019
            .timeline-panel
              .timeline-heading
                h4 Bitcoin.com
                h4.subheading(data-i18n="business-card-experience-job-bitcoin-com-2-title")
              .timeline-body
                h5(data-i18n="business-card-experience-description-title")
                div(data-i18n="business-card-experience-job-bitcoin-com-2-description")
                h5(data-i18n="business-card-experience-achievements-title")
                - var n_bitcoin_com_2_achievements = 1
                while n_bitcoin_com_2_achievements < 3
                  p(data-i18n="business-card-experience-job-bitcoin-com-2-achievements-" + n_bitcoin_com_2_achievements++)
                h5(data-i18n="business-card-experience-technologies-title")
                p
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-ci")
                  span Travis CI, GitHub Actions, Bitrise
                p
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-backend")
                  span Java 12, Kafka Streams, Spring Boot
          li.timeline-inverted
            .timeline-image
              h4
                span.mr-1(data-i18n="business-card-month-6")
                span 2019
                br
                | - 
                br
                span.mr-1(data-i18n="business-card-month-9")
                span 2018
            .timeline-panel
              .timeline-heading
                h4 Bitcoin.com
                h4.subheading(data-i18n="business-card-experience-job-bitcoin-com-1-title")
              .timeline-body
                h5(data-i18n="business-card-experience-area-title")
                p(data-i18n="business-card-experience-job-bitcoin-com-area")
                h5(data-i18n="business-card-experience-description-title")
                div(data-i18n="[html]business-card-experience-job-bitcoin-com-1-description")
                h5(data-i18n="business-card-experience-achievements-title")
                - var n_bitcoin_com_1_achievements = 1
                while n_bitcoin_com_1_achievements < 2
                  p(data-i18n="business-card-experience-job-bitcoin-com-1-achievements-" + n_bitcoin_com_1_achievements++)
                h5(data-i18n="business-card-experience-technologies-title")
                p
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-backend")
                  span Maven, Java 8 (Tomcat, Facelets, lombok, JUnit), Python
                p
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-frontend")
                  span JavaScript (jQuery), Bootstrap 4
                p
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-database")
                  span MariaDB, Redis
                p
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-scm")
                  span Git
                p
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-ide")
                  span Intellij IDEA, VS Code
                p 
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-bugtracker")
                  span Jira
          li
            .timeline-image
              h4
                span.mr-1(data-i18n="business-card-month-9")
                span 2018
                br
                | -
                br
                span.mr-1(data-i18n="business-card-month-2")
                span 2016
            .timeline-panel
              .timeline-heading
                h4 Lohika
                h4.subheading(data-i18n="business-card-experience-job-lohika-3-title")
              .timeline-body
                h5(data-i18n="business-card-experience-description-title")
                p(data-i18n="business-card-experience-job-lohika-3-prysm-description-1")
                p(data-i18n="business-card-experience-job-lohika-3-prysm-description-2")
                h5(data-i18n="business-card-experience-achievements-title")
                - var n_lohika_3_prysm_achievements = 1
                while n_lohika_3_prysm_achievements < 3
                  p(data-i18n="business-card-experience-job-lohika-3-prysm-achievements-" + n_lohika_3_prysm_achievements++)
                h5(data-i18n="business-card-experience-technologies-title")
                p
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-software-development")
                  span C#/.NET (Xamarin Forms, Prism)
                p
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-scm")
                  span Git
                p
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-bugtracker")
                  span Jira
                p
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-ci")
                  span TeamCity
                p &nbsp;
                p(data-i18n="business-card-experience-job-lohika-3-earnin-description-1")
                p(data-i18n="business-card-experience-job-lohika-3-earnin-description-2")
                h5(data-i18n="business-card-experience-achievements-title")
                - var n_lohika_3_earnin_achievements = 1
                while n_lohika_3_earnin_achievements < 7
                  p(data-i18n="business-card-experience-job-lohika-3-earnin-achievements-" + n_lohika_3_earnin_achievements++)
                h5(data-i18n="business-card-experience-technologies-title")
                p
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-software-development")
                  span C#/.NET (.NET Core, Microsoft DI)
                p
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-infrastructure-development")
                  span Kubernetes, helm, Docker, fluent-bit, fluentd, Elasticsearch, Kibana, Prometheus, Grafana
                p
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-scm")
                  span Git
                p
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-ide")
                  span Visual Studio, VS Code
                p
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-bugtracker")
                  span GitHub Issues
                p
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-ci")
                  span Jenkins
                p &nbsp;
                p(data-i18n="business-card-experience-job-lohika-3-general-description")
                h5(data-i18n="business-card-experience-achievements-title")
                - var n_lohika_3_general_achievements = 1
                while n_lohika_3_general_achievements < 4
                  p(data-i18n="business-card-experience-job-lohika-3-general-achievements-" + n_lohika_3_general_achievements++)
          li.timeline-inverted
            .timeline-image
              h4
                span.mr-1(data-i18n="business-card-month-1")
                span 2016
                br
                | - 
                br
                span.mr-1(data-i18n="business-card-month-5")
                span 2013
            .timeline-panel
              .timeline-heading
                h4 Lohika
                h4.subheading(data-i18n="business-card-experience-job-lohika-2-title")
              .timeline-body
                h5(data-i18n="business-card-experience-description-title")
                p(data-i18n="business-card-experience-job-lohika-2-description")
                h5(data-i18n="business-card-experience-achievements-title")
                - var n_lohika_2_achievements = 1
                while n_lohika_2_achievements < 5
                  p(data-i18n="business-card-experience-job-lohika-2-achievements-" + n_lohika_2_achievements++)
                h5(data-i18n="business-card-experience-technologies-title")
                p
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-backend")
                  span Java (Spring), Maven
                p
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-frontend")
                  span JavaScript (Angular)
                p
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-database")
                  span MSSQL, Oracle
                p
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-scm")
                  span SVN, Git
                p
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-ide")
                  span Intellij IDEA
                p
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-bugtracker")
                  span HPE ALM
                p
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-ci")
                  span Jenkins
          li
            .timeline-image
              h4
                span.mr-1(data-i18n="business-card-month-4")
                span 2013
                br
                | - 
                br
                span.mr-1(data-i18n="business-card-month-10")
                span 2011
            .timeline-panel
              .timeline-heading
                h4 Lohika
                h4.subheading(data-i18n="business-card-experience-job-lohika-1-title")
              .timeline-body
                h5(data-i18n="business-card-experience-description-title")
                p(data-i18n="business-card-experience-job-lohika-1-description")
                h5(data-i18n="business-card-experience-achievements-title")
                - var n_lohika_1_achievements = 1
                while n_lohika_1_achievements < 4
                  p(data-i18n="business-card-experience-job-lohika-1-achievements-" + n_lohika_1_achievements++)
                h5(data-i18n="business-card-experience-technologies-title")
                p
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-software-development")
                  span C#/.NET (Windows Forms)
                p
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-scm")
                  span SVN
                p
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-ide")
                  span Visual Studio
                p
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-bugtracker")
                  span HPE ALM
                p
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-ci")
                  span Jenkins
          li.timeline-inverted
            .timeline-image
              h4
                span.mr-1(data-i18n="business-card-month-9")
                span 2011 
                br
                | - 
                br
                span.mr-1(data-i18n="business-card-month-3")
                span 2010
            .timeline-panel
              .timeline-heading
                h4 ARKA - Finance, Software, Services
                h4.subheading(data-i18n="business-card-experience-job-arka-title")
              .timeline-body
                h5(data-i18n="business-card-experience-description-title")
                p(data-i18n="business-card-experience-job-arka-description")
                h5(data-i18n="business-card-experience-achievements-title")
                - var n_arka_achievements = 1
                while n_arka_achievements < 4
                  p(data-i18n="business-card-experience-job-arka-achievements-" + n_arka_achievements++)
                h5(data-i18n="business-card-experience-technologies-title")
                p
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-backend")
                  span PHP, Codeigniter, vBulletin, OXID eShop, Smarty
                p
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-frontend")
                  span C#/.NET (Silverlight), JavaScript (jQuery)
                p
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-database")
                  span MySQL
                p
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-scm")
                  span SVN
                p
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-ide")
                  span Visual Studio 2010, NetBeans
                p
                  span.mr-1.colon-title(data-i18n="business-card-experience-technologies-bugtracker")
                  span Redmine