#resume.text-center
  .container
    .section-title.center
      h2 Experience
      hr
    .row
      .col-lg-12
        ul.timeline
          li
            .timeline-image
              h4 Present 
                br
                | - 
                br
                | Feb 2016
            .timeline-panel
              .timeline-heading
                h4 Lohika
                h4.subheading Senior Software Development Engineer
              .timeline-body
                p - Worked as off-shore contractor for HPE on ALM project (Oct, 2011 - Mar, 2017).
                p - Working on another project (Apr, 2017 - Present).
                p - Interviewing external and internal candidates.
                p - Leading of internal Java trainings.
                p - Got "Junior Front-End Developer"​ skill after finish "Front-End Secondary Skills"​ course (Sep, 2016 - Dec, 2016). During this course I've got new skills to work with the following technologies: Gulp, Bower, SASS, HTML5, Ecmascript 6, NPM, NodeJS.
          li.timeline-inverted
            .timeline-image
              h4
                | Nov 2011 
                br
                |                 - 
                br
                |                 Jan 2013
            .timeline-panel
              .timeline-heading
                h4 Hewlett Packard Enterprises
                h4.subheading Front-end Developer
              .timeline-body
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.
          li
            .timeline-image
              h4
                | Dec 2009 
                br
                |                 - 
                br
                |                 May 2011
            .timeline-panel
              .timeline-heading
                h4 Creative Agency
                h4.subheading UX Designer
              .timeline-body
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.
          li.timeline-inverted
            .timeline-image
              h4
                | Nov 2011 
                br
                |                 - 
                br
                |                 Jan 2013
            .timeline-panel
              .timeline-heading
                h4 Creative Agency
                h4.subheading Front-end Developer
              .timeline-body
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.
          li
            .timeline-image
              h4
                | Dec 2009 
                br
                |                 - 
                br
                |                 May 2011
            .timeline-panel
              .timeline-heading
                h4 Creative Agency
                h4.subheading UX Designer
              .timeline-body
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.
  .container
    .section-title.center
      h2 Education
      hr
    .row
      .col-lg-12
        ul.timeline
          // Education Section
          li
            .timeline-image
              h4
                | 2010
                br
                | -
                br
                | 2009
            .timeline-panel
              .timeline-heading
                h4 Odessa State Academy of Refrigeration
                h4.subheading Master
              .timeline-body
                p Information Technology
          li.timeline-inverted
              .timeline-image
                h4
                  | 2009
                  br
                  | -
                  br
                  | 2005
              .timeline-panel
                .timeline-heading
                  h4 Odessa State Academy of Refrigeration
                  h4.subheading Bachelor
                .timeline-body
                  p Information Technology