#footer.component
	#contact.text-center
		.container
			.section-title.center
				h2(data-i18n="business-card-contact-title")
				hr
			.row
				.col
					i.fa.fa-map-marker-alt.fa-2x
					p(data-i18n="business-card-contact-city")
				.col
					i.fa.fa-envelope.fa-2x
					p fabasoad@gmail.com
				hr
				.clearfix
			.d-flex.justify-content-center
				.social
					ul
						li
							a(class="btn" target='_blank' href='https://twitter.com/fabasoad')
								i.fab.fa-twitter.fa-2x
						li
							a(class="btn" target='_blank' href='https://github.com/fabasoad')
								i.fab.fa-github.fa-2x
						li
							a(class="btn" target='_blank' href='https://www.linkedin.com/in/yevhenfabizhevskyi/')
								i.fab.fa-linkedin.fa-2x
			.d-flex.justify-content-center
				.social
					ul
						li
							img(src="https://img.shields.io/static/v1?label=made%20by&message=fabasoad&color=2c3e50&style=for-the-badge&logo=github" alt="Made by fabasoad")
						li
							a(target="_blank" href="https://en.cryptobadges.io/donate/145HwyQAcv4vrzUumJhu7nWGAVBysX9jJH")
								img(src="https://en.cryptobadges.io/badge/micro/145HwyQAcv4vrzUumJhu7nWGAVBysX9jJH" alt="Donate with Bitcoin")