#footer
	#contact.text-center
		.container
			.section-title.center
				h2 Contact me
				hr
			.col-md-8.col-md-offset-2
				.col-md-4
					i.fa.fa-map-marker.fa-2x
					p
						| Ukraine, Odessa
				.col-md-4
					i.fa.fa-envelope-o.fa-2x
					p fabasoad@gmail.com
				.col-md-4
					i.fa.fa-skype.fa-2x
					p  fabasoad
				hr
				.clearfix
			.col-md-8.col-md-offset-2
				.social
					ul
						li
							a(target='_blank' href='https://www.facebook.com/yevhen.fabizhevskyi')
								i.fa.fa-facebook
						li
							a(target='_blank' href='https://twitter.com/fabasoad')
								i.fa.fa-twitter
						li
							a(target='_blank' href='https://github.com/fabasoad')
								i.fa.fa-github
						li
							a(target='_blank' href='https://www.instagram.com/fabasoad')
								i.fa.fa-instagram
						li
							a(target='_blank' href='https://www.linkedin.com/in/yevhenfabizhevskyi/')
								i.fa.fa-linkedin