#footer
	#contact.text-center
		.container
			.section-title.center
				h2 Contact me
				hr
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leo nec ornare diamcommodo.
			.col-md-8.col-md-offset-2
				.col-md-4
					i.fa.fa-map-marker.fa-2x
					p
						| 321 Awesome Street
						br
						|           New York, NY 17022
				.col-md-4
					i.fa.fa-envelope-o.fa-2x
					p info@companyname.com
				.col-md-4
					i.fa.fa-phone.fa-2x
					p  +1 800 123 1234
				hr
				.clearfix
			.col-md-8.col-md-offset-2
				h3 Leave me a message
				form#contactForm(name='sentMessage', novalidate='')
					.row
						.col-md-6
							.form-group
								input#name.form-control(type='text', placeholder='Name', required='required')
								p.help-block.text-danger
						.col-md-6
							.form-group
								input#email.form-control(type='email', placeholder='Email', required='required')
								p.help-block.text-danger
					.form-group
						textarea#message.form-control(name='message', rows='4', placeholder='Message', required='')
						p.help-block.text-danger
					#success
					button.btn.btn-default(type='submit') Send Message
				.social
					ul
						li
							a(href='#')
								i.fa.fa-facebook
						li
							a(href='#')
								i.fa.fa-twitter
						li
							a(href='#')
								i.fa.fa-dribbble
						li
							a(href='#')
								i.fa.fa-github
						li
							a(href='#')
								i.fa.fa-instagram
						li
							a(href='#')
								i.fa.fa-linkedin