header#custom-page-top.header
	.header__text
		h1 Hello, 
		h1 I'm Yevhen Fabizhevskyi
		p Java/C# software development	
		a.btn.btn-default.btn-lg.page-scroll(href='#about') About Me
		a.btn.btn-default.btn-lg.page-scroll(href='#portfolio') My Portfolio