header#header.header.component
	.header__text
		h1(data-i18n="[html]business-card-header-title")
		p(data-i18n="business-card-header-occupation")
		a.btn.btn-primary.btn-lg(href='#about' data-i18n="business-card-header-about-me")
		a.btn.btn-primary.btn-lg(href='#portfolio' data-i18n="business-card-header-portfolio")