header#custom-page-top.header
	.header__text
		h1 Hello, 
		h1 I'm Yevhen Fabizhevskyi
		p Senior Software Development Engineer
		a.btn.btn-primary.btn-lg.page-scroll(href='#about') About Me
		a.btn.btn-primary.btn-lg.page-scroll(href='#portfolio') My Portfolio