.header
	.header__text
		h1 Hello, 
		h1 I'm Yevhen Fabizhevskyi
		p JAVA/C# software development	
		<a href="#about_me" class="btn btn-default btn-lg page-scroll">About Me</a>
		<a href="#portfolio" class="btn btn-default btn-lg page-scroll">My Portfolio</a>