#nav.affix-top
	nav.navbar.navbar-expand-md.navbar-custom
		a.navbar-brand(href='#custom-page-top') Yevhen Fabizhevskyi
		button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
			i.fa.fa-bars
		#navbarNav.collapse.navbar-collapse
			ul.navbar-nav
				li.nav-item
					a.nav-link(href='#about') About Me
				li.nav-item
					a.nav-link(href='#experience') Experience
				li.nav-item
					a.nav-link(href='#education') Education
				li.nav-item
					a.nav-link(href='#portfolio') Portfolio
				li.nav-item
					a.nav-link(href='#resume') Resume
				li.nav-item
					a.nav-link(href='#contact') Contact
