#nav.affix-top
	.navbar.navbar-custom
		.container
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
					i.fa.fa-bars
				a.navbar-brand.page-scroll(href='#page-top') Yevhen Fabizhevskyi
			.collapse.navbar-collapse.navbar-right.navbar-main-collapse
				ul.nav.navbar-nav
					li.hidden
						a(href='#page-top')
					li
						a.page-scroll(href='#about') About Me
					li
						a.page-scroll(href='#experience') Experience
					li
						a.page-scroll(href='#education') Education
					li
						a.page-scroll(href='#portfolio') Portfolio
					li
						a.page-scroll(href='#resume') Resume
					li
						a.page-scroll(href='#contact') Contact