#nav.affix-top.component
	nav.navbar.navbar-expand-md.navbar-custom
		a.navbar-brand(href='#header' data-i18n="business-card-author-name")
		button#dfnlas1u0.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-container', aria-expanded='false')
			i.fa.fa-bars
		.navbar-container.collapse.navbar-collapse.justify-content-between(aria-labelledby="dfnlas1u0")
			ul.navbar-nav
				li.nav-item(data-toggle='collapse', data-target='.navbar-container.show')
					a.nav-link(href='#about' data-i18n="business-card-menu-about-me")
				li.nav-item(data-toggle='collapse', data-target='.navbar-container.show')
					a.nav-link(href='#experience' data-i18n="business-card-menu-experience")
				li.nav-item(data-toggle='collapse', data-target='.navbar-container.show')
					a.nav-link(href='#education' data-i18n="business-card-menu-education")
				li.nav-item(data-toggle='collapse', data-target='.navbar-container.show')
					a.nav-link(href='#portfolio' data-i18n="business-card-menu-portfolio")
				li.nav-item(data-toggle='collapse', data-target='.navbar-container.show')
					a.nav-link(href='#resume' data-i18n="business-card-menu-resume")
				li.nav-item(data-toggle='collapse', data-target='.navbar-container.show')
					a.nav-link(href='#contact' data-i18n="business-card-menu-contact")
			ul.navbar-nav
				li.nav-item.dropdown
					button#btnLocale.btn.nav-link.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
						span.flag-icon
					.dropdown-menu(aria-labelledby='btnLocale')
						button.dropdown-item(type='button', data-toggle='collapse', data-target='.navbar-container.show')
							span.flag-icon
