.nav
	.navbar.navbar-custom
		.container
			.navbar-header
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> <i class="fa fa-bars"></i> </button>
				<a class="navbar-brand page-scroll" href="#page-top">Yevhen Fabizhevskyi</a>
			<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        
			<ul class="nav navbar-nav">
				<li class="hidden"> <a href="#page-top"></a> </li>
				<li> <a class="page-scroll" href="#about">About Me</a> </li>
				<li> <a class="page-scroll" href="#services">Services</a> </li>
				<li> <a class="page-scroll" href="#portfolio">Portfolio</a> </li>
				<li> <a class="page-scroll" href="#skills">Skills</a> </li>
				<li> <a class="page-scroll" href="#resume">Resume</a> </li>
				<li> <a class="page-scroll" href="#testimonials">Testimonials</a> </li>
				<li> <a class="page-scroll" href="#contact">Contact</a> </li>
			</ul>

