#portfolio
  .container
    .section-title.text-center.center
      h2 My Portfolio
      hr
      .clearfix
    .row
      .col-sm-6.col-md-3.col-lg-3.web
        .portfolio-item
          .hover-bg
            a(href='https://www.earnin.com/', title='Earnin', target='_blank')
              .hover-text
                h4 Earnin
                small Backend Development Engineer - C#/.NET (.NET Core)
                .clearfix
                i.fa.fa-search
              img.img-responsive(src='assets/images/portfolio/earnin.png', alt='Earnin')
      .col-sm-6.col-md-3.col-lg-3.web
        .portfolio-item
          .hover-bg
            a(href='https://www.prysm.com/software/iphone-app/', title='Prysm iPhone App', target='_blank')
              .hover-text
                h4 Prysm iPhone App
                small Frontend Development Engineer - C#/.NET (Xamarin)
                .clearfix
                i.fa.fa-search
              img.img-responsive(src='assets/images/portfolio/prysm_iphone_app.jpg', alt='Prysm iPhone App')
      .col-sm-6.col-md-3.col-lg-3.web
        .portfolio-item
          .hover-bg
            a(href='https://drive.google.com/drive/folders/163jhUuVrBCEYQ503sa1Y1M7KG--1gwaj?usp=sharing', title='Southern Marine Agency Web Site', target='_blank')
              .hover-text
                h4 SMA Web Site
                small Team Lead / Full Stack Developer - JavaScript (ES 2015), Java 8
                .clearfix
                i.fa.fa-search
              img.img-responsive(src='assets/images/portfolio/sma.jpg', alt='Southern Marine Agency Web Site')
      .col-sm-6.col-md-3.col-lg-3.web
        .portfolio-item
          .hover-bg
            a(href='https://community.softwaregrp.com/t5/All-About-the-Apps/ALM-Robot-Application-Lifecycle-Management-s-next-gen-project/ba-p/242160#.WhGnAGi0PIX', title='ALM Robot', target='_blank')
              .hover-text
                h4 ALM Robot
                small Full Stack Development Engineer - JavaScript (AngularJS), Java
                .clearfix
                i.fa.fa-search
              img.img-responsive(src='assets/images/portfolio/alm_robot.png', alt='ALM Robot')
      .col-sm-6.col-md-3.col-lg-3.app
        .portfolio-item
          .hover-bg
            a(href='https://software.microfocus.com/en-us/software/application-lifecycle-management', title='ALM', target='_blank')
              .hover-text
                h4 ALM
                small Backend Development Engineer - Java
                .clearfix
                i.fa.fa-search
              img.img-responsive(src='assets/images/portfolio/alm.jpg' alt='ALM')
      .col-sm-6.col-md-3.col-lg-3.web
        .portfolio-item
          .hover-bg
            a(href='http://www8.hp.com/us/en/software-solutions/software.html?compURI=1234859&lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BOgMNvHk1Q3Oh85RxGTXaNw%3D%3D', title='Lab Management', target='_blank')
              .hover-text
                h4 Lab Management
                small Frontend Development Engineer - C#/.NET (WinForms)
                .clearfix
                i.fa.fa-search
              img.img-responsive(src='assets/images/portfolio/lab_management.jpg' alt='Lab Management')
      .col-sm-6.col-md-3.col-lg-3.web
        .portfolio-item
          .hover-bg
            a(href='https://www.youtube.com/watch?v=8wTcyZEtQx8', title='Invebstor', target='_blank')
              .hover-text
                h4 Invebstor
                small Full-stack Development Engineer - C#/.NET (Silverlight), PHP
                .clearfix
                i.fa.fa-search
              img.img-responsive(src='assets/images/portfolio/invebstor.jpg' alt='Invebstor')
      .col-sm-6.col-md-3.col-lg-3.app
        .portfolio-item
          .hover-bg
            a(href='https://www.youtube.com/watch?v=eRxTKZ0knsg', title='Work+', target='_blank')
              .hover-text
                h4 Work+
                small Full-stack Development Engineer - C#/.NET (Silverlight), PHP
                .clearfix
                i.fa.fa-search
              img.img-responsive(src='assets/images/portfolio/work_plus.jpg', alt='Work+')
      .col-sm-6.col-md-3.col-lg-3.branding
        .portfolio-item
          .hover-bg
            a(href='http://www.arka-media.de', title='ARKA Website', target='_blank')
              .hover-text
                h4 ARKA Website
                small Full-stack Development Engineer - JavaScript, PHP
                .clearfix
                i.fa.fa-search
              img.img-responsive(src='assets/images/portfolio/arka_website.png', alt='ARKA Website')
      .col-sm-6.col-md-3.col-lg-3.branding.app
        .portfolio-item
          .hover-bg
            a(href='https://www.deutsche-lieferadresse.com/', title='Deutsche Lieferadresse Website', target='_blank')
              .hover-text
                h4 Deutsche Lieferadresse Website
                small Full-stack Development Engineer - JavaScript, PHP
                .clearfix
                i.fa.fa-search
              img.img-responsive(src='assets/images/portfolio/deutsche_lieferadresse_website.jpg', alt='Deutsche Lieferadresse Website')
      .col-sm-6.col-md-3.col-lg-3.web
        .portfolio-item
          .hover-bg
            a(href='http://medisport-garmisch.de', title='Medisport Website', target='_blank')
              .hover-text
                h4 Medisport Website
                small Full-stack Development Engineer - JavaScript, PHP
                .clearfix
                i.fa.fa-search
              img.img-responsive(src='assets/images/portfolio/medisport_website.jpg', alt='Medisport Website')
      .col-sm-6.col-md-3.col-lg-3.web
        .portfolio-item
          .hover-bg
            a(href='#', title='Print & Post Website', target='_blank')
              .hover-text
                h4 Print and Post Website
                small Full-stack Development Engineer - JavaScript, PHP
                .clearfix
                i.fa.fa-search
              img.img-responsive(src='assets/images/portfolio/print_and_post_website.jpg', alt='Print and Post Website')
      .col-sm-6.col-md-3.col-lg-3.web
        .portfolio-item
          .hover-bg
            a(href='https://zakupki-de.com.ua', title='Zakupki Website', target='_blank')
              .hover-text
                h4 Zakupki Website
                small Full-stack Development Engineer - JavaScript, PHP
                .clearfix
                i.fa.fa-search
              img.img-responsive(src='assets/images/portfolio/zakupki_website.png', alt='Zakupki  Website')