#portfolio
  .container
    .section-title.text-center.center
      h2 My Portfolio
      hr
      .clearfix
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.
    .row
      .col-sm-6.col-md-3.col-lg-3.web
        .portfolio-item
          .hover-bg
            a(href='img/portfolio/01.jpg', title='Project description', rel='prettyPhoto')
              .hover-text
                h4 Project Title
                small Web Design
                .clearfix
                i.fa.fa-search
              img.img-responsive(src='img/portfolio/01.jpg', alt='Project Title')
      .col-sm-6.col-md-3.col-lg-3.app
        .portfolio-item
          .hover-bg
            a(href='img/portfolio/02.jpg', title='Project description', rel='prettyPhoto')
              .hover-text
                h4 Project Title
                small App Development
                .clearfix
                i.fa.fa-search
              img.img-responsive(src='img/portfolio/02.jpg', alt='Project Title')
      .col-sm-6.col-md-3.col-lg-3.web
        .portfolio-item
          .hover-bg
            a(href='img/portfolio/03.jpg', title='Project description', rel='prettyPhoto')
              .hover-text
                h4 Project Title
                small Web Design
                .clearfix
                i.fa.fa-search
              img.img-responsive(src='img/portfolio/03.jpg', alt='Project Title')
      .col-sm-6.col-md-3.col-lg-3.web
        .portfolio-item
          .hover-bg
            a(href='img/portfolio/04.jpg', title='Project description', rel='prettyPhoto')
              .hover-text
                h4 Project Title
                small Web Design
                .clearfix
                i.fa.fa-search
              img.img-responsive(src='img/portfolio/04.jpg', alt='Project Title')
      .col-sm-6.col-md-3.col-lg-3.app
        .portfolio-item
          .hover-bg
            a(href='img/portfolio/05.jpg', title='Project description', rel='prettyPhoto')
              .hover-text
                h4 Project Title
                small App Development
                .clearfix
                i.fa.fa-search
              img.img-responsive(src='img/portfolio/05.jpg', alt='Project Title')
      .col-sm-6.col-md-3.col-lg-3.branding
        .portfolio-item
          .hover-bg
            a(href='img/portfolio/06.jpg', title='Project description', rel='prettyPhoto')
              .hover-text
                h4 Project Title
                small Branding
                .clearfix
                i.fa.fa-search
              img.img-responsive(src='img/portfolio/06.jpg', alt='Project Title')
      .col-sm-6.col-md-3.col-lg-3.branding.app
        .portfolio-item
          .hover-bg
            a(href='img/portfolio/07.jpg', title='Project description', rel='prettyPhoto')
              .hover-text
                h4 Project Title
                small App Development, Branding
                .clearfix
                i.fa.fa-search
              img.img-responsive(src='img/portfolio/07.jpg', alt='Project Title')
      .col-sm-6.col-md-3.col-lg-3.web
        .portfolio-item
          .hover-bg
            a(href='img/portfolio/08.jpg', title='Project description', rel='prettyPhoto')
              .hover-text
                h4 Project Title
                small Web Design
                .clearfix
                i.fa.fa-search
              img.img-responsive(src='img/portfolio/08.jpg', alt='Project Title')