#portfolio.component
  .container
    .section-title.text-center.center
      h2(data-i18n="business-card-portfolio-title")
      hr
      .clearfix
    .row
      .col-sm-6.col-md-3.col-lg-3.web
        .portfolio-item
          .hover-bg.text-center
            a(href='https://games.bitcoin.com/', title='Games', target='_blank')
              .hover-text
                h4(data-i18n="business-card-portfolio-casino-web-app-title")
                small(data-i18n="business-card-portfolio-casino-web-app-subtitle")
                .clearfix
                i.fa.fa-search
              img.img-thumbnail(src='assets/images/portfolio/bitcoin.com_games.png', alt='Games')
      .col-sm-6.col-md-3.col-lg-3.web
        .portfolio-item
          .hover-bg.text-center
            a(href='https://games.bitcoin.com/', title='Games Admin', target='_blank')
              .hover-text
                h4(data-i18n="business-card-portfolio-casino-admin-web-app-title")
                small(data-i18n="business-card-portfolio-casino-admin-web-app-subtitle")
                .clearfix
                i.fa.fa-search
              img.img-thumbnail(src='assets/images/portfolio/bitcoin.com_games_admin.png', alt='Games Admin')
      .col-sm-6.col-md-3.col-lg-3.web
        .portfolio-item
          .hover-bg.text-center
            a(href='https://games.bitcoin.com/android', title='Android', target='_blank')
              .hover-text
                h4(data-i18n="business-card-portfolio-casino-android-app-title")
                small(data-i18n="business-card-portfolio-casino-android-app-subtitle")
                .clearfix
                i.fa.fa-search
              img.img-thumbnail(src='assets/images/portfolio/bitcoin.com_android.png', alt='Android')
      .col-sm-6.col-md-3.col-lg-3.web
        .portfolio-item
          .hover-bg.text-center
            a(href='https://www.earnin.com/', title='Earnin', target='_blank')
              .hover-text
                h4(data-i18n="business-card-portfolio-earnin-title")
                small(data-i18n="business-card-portfolio-earnin-subtitle")
                .clearfix
                i.fa.fa-search
              img.img-thumbnail(src='assets/images/portfolio/earnin.png', alt='Earnin')
      .col-sm-6.col-md-3.col-lg-3.web
        .portfolio-item
          .hover-bg.text-center
            a(href='https://www.prysm.com/software/iphone-app/', title='Prysm iPhone App', target='_blank')
              .hover-text
                h4(data-i18n="business-card-portfolio-prysm-title")
                small(data-i18n="business-card-portfolio-prysm-subtitle")
                .clearfix
                i.fa.fa-search
              img.img-thumbnail(src='assets/images/portfolio/prysm_iphone_app.png', alt='Prysm iPhone App')
      .col-sm-6.col-md-3.col-lg-3.web
        .portfolio-item
          .hover-bg.text-center
            a(href='https://drive.google.com/drive/folders/163jhUuVrBCEYQ503sa1Y1M7KG--1gwaj?usp=sharing', title='Southern Marine Agency Web Site', target='_blank')
              .hover-text
                h4(data-i18n="business-card-portfolio-sma-title")
                small(data-i18n="business-card-portfolio-sma-subtitle")
                .clearfix
                i.fa.fa-search
              img.img-thumbnail(src='assets/images/portfolio/sma.png', alt='SMA Website')
      .col-sm-6.col-md-3.col-lg-3.web
        .portfolio-item
          .hover-bg.text-center
            a(href='https://admhelp.microfocus.com/alm/en/12.60/online_help/Content/Admin/sa_robot_toc.htm', title='ALM Robot', target='_blank')
              .hover-text
                h4(data-i18n="business-card-portfolio-alm-robot-title")
                small(data-i18n="business-card-portfolio-alm-robot-subtitle")
                .clearfix
                i.fa.fa-search
              img.img-thumbnail(src='assets/images/portfolio/alm_robot.png', alt='ALM Robot')
      .col-sm-6.col-md-3.col-lg-3.app
        .portfolio-item
          .hover-bg.text-center
            a(href='https://www.microfocus.com/en-us/products/application-lifecycle-management/overview', title='ALM', target='_blank')
              .hover-text
                h4(data-i18n="business-card-portfolio-alm-title")
                small(data-i18n="business-card-portfolio-alm-subtitle")
                .clearfix
                i.fa.fa-search
              img.img-thumbnail(src='assets/images/portfolio/alm.jpg' alt='ALM')
      .col-sm-6.col-md-3.col-lg-3.web
        .portfolio-item
          .hover-bg.text-center
            a(href='https://admhelp.microfocus.com/alm/en/12.60/online_help/Content/lm_ag.htm', title='Lab Management', target='_blank')
              .hover-text
                h4(data-i18n="business-card-portfolio-alm-lab-management-title")
                small(data-i18n="business-card-portfolio-alm-lab-management-subtitle")
                .clearfix
                i.fa.fa-search
              img.img-thumbnail(src='assets/images/portfolio/lab_management.jpg' alt='ALM Lab Management')
      .col-sm-6.col-md-3.col-lg-3.web
        .portfolio-item
          .hover-bg.text-center
            a(href='https://youtu.be/8wTcyZEtQx8', title='Invebstor', target='_blank')
              .hover-text
                h4(data-i18n="business-card-portfolio-invebstor-title")
                small(data-i18n="business-card-portfolio-invebstor-subtitle")
                .clearfix
                i.fa.fa-search
              img.img-thumbnail(src='assets/images/portfolio/invebstor.jpg' alt='Invebstor')
      .col-sm-6.col-md-3.col-lg-3.app
        .portfolio-item
          .hover-bg.text-center
            a(href='https://youtu.be/eRxTKZ0knsg', title='Work+', target='_blank')
              .hover-text
                h4(data-i18n="business-card-portfolio-work-plus-title")
                small(data-i18n="business-card-portfolio-work-plus-subtitle")
                .clearfix
                i.fa.fa-search
              img.img-thumbnail(src='assets/images/portfolio/work_plus.png', alt='Work+')
      .col-sm-6.col-md-3.col-lg-3.branding
        .portfolio-item
          .hover-bg.text-center
            a(href='https://www.arka-media.de/', title='ARKA Website', target='_blank')
              .hover-text
                h4(data-i18n="business-card-portfolio-arka-title")
                small(data-i18n="business-card-portfolio-arka-subtitle")
                .clearfix
                i.fa.fa-search
              img.img-thumbnail(src='assets/images/portfolio/arka_website.png', alt='ARKA Website')
      .col-sm-6.col-md-3.col-lg-3.branding.app
        .portfolio-item
          .hover-bg.text-center
            a(href='https://www.deutsche-lieferadresse.com/', title='Deutsche Lieferadresse Website', target='_blank')
              .hover-text
                h4(data-i18n="business-card-portfolio-deutsche-lieferadresse-title")
                small(data-i18n="business-card-portfolio-deutsche-lieferadresse-subtitle")
                .clearfix
                i.fa.fa-search
              img.img-thumbnail(src='assets/images/portfolio/deutsche_lieferadresse_website.jpg', alt='Deutsche Lieferadresse Website')
      .col-sm-6.col-md-3.col-lg-3.web
        .portfolio-item
          .hover-bg.text-center
            a(href='http://medisport-garmisch.de/', title='Medisport Website', target='_blank')
              .hover-text
                h4(data-i18n="business-card-portfolio-medisport-title")
                small(data-i18n="business-card-portfolio-medisport-subtitle")
                .clearfix
                i.fa.fa-search
              img.img-thumbnail(src='assets/images/portfolio/medisport_website.jpg', alt='Medisport Website')
      .col-sm-6.col-md-3.col-lg-3.web
        .portfolio-item
          .hover-bg.text-center
            a(href='#portfolio', title='Print & Post Website')
              .hover-text
                h4(data-i18n="business-card-portfolio-print-and-post-title")
                small(data-i18n="business-card-portfolio-print-and-post-subtitle")
                .clearfix
                i.fa.fa-search
              img.img-thumbnail(src='assets/images/portfolio/print_and_post_website.jpg', alt='Print and Post Website')
      .col-sm-6.col-md-3.col-lg-3.web
        .portfolio-item
          .hover-bg.text-center
            a(href='https://zakupki-de.com.ua/', title='Zakupki Website', target='_blank')
              .hover-text
                h4(data-i18n="business-card-portfolio-zakupki-title")
                small(data-i18n="business-card-portfolio-zakupki-subtitle")
                .clearfix
                i.fa.fa-search
              img.img-thumbnail(src='assets/images/portfolio/zakupki_website.png', alt='Zakupki Website')