#portfolio
  .container
    .section-title.text-center.center
      h2 My Portfolio
      hr
      .clearfix
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.
    .row
      .col-sm-6.col-md-3.col-lg-3.web
        .portfolio-item
          .hover-bg
            a(href='https://community.softwaregrp.com/t5/All-About-the-Apps/ALM-Robot-Application-Lifecycle-Management-s-next-gen-project/ba-p/242160#.WhGnAGi0PIX', title='ALM')
              .hover-text
                h4 ALM Robot
                small Developer
                .clearfix
                i.fa.fa-search
              img.img-responsive(src='assets/images/alm_robot.png', alt='ALM Robot')
      .col-sm-6.col-md-3.col-lg-3.app
        .portfolio-item
          .hover-bg
            a(href='https://software.microfocus.com/en-us/software/application-lifecycle-management', title='ALM')
              .hover-text
                h4 ALM
                small Developer
                .clearfix
                i.fa.fa-search
              img.img-responsive(src='assets/images/01.jpg', alt='ALM')
      .col-sm-6.col-md-3.col-lg-3.web
        .portfolio-item
          .hover-bg
            a(href='http://www8.hp.com/us/en/software-solutions/software.html?compURI=1234859&lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BOgMNvHk1Q3Oh85RxGTXaNw%3D%3D', title='Lab Management')
              .hover-text
                h4 Lab Management
                small Developer
                .clearfix
                i.fa.fa-search
              img.img-responsive(src='assets/images/alm_robot.png', alt='Lab Management')
      .col-sm-6.col-md-3.col-lg-3.web
        .portfolio-item
          .hover-bg
            a(href='https://www.youtube.com/watch?v=8wTcyZEtQx8', title='Invebstor')
              .hover-text
                h4 Invebstor
                small Developer
                .clearfix
                i.fa.fa-search
              img.img-responsive(src='assets/images/invebstor.jpg', alt='Invebstor')
      .col-sm-6.col-md-3.col-lg-3.app
        .portfolio-item
          .hover-bg
            a(href='img/portfolio/05.jpg', title='Project description', rel='prettyPhoto')
              .hover-text
                h4 Project Title
                small Developer
                .clearfix
                i.fa.fa-search
              img.img-responsive(src='img/portfolio/05.jpg', alt='Project Title')
      .col-sm-6.col-md-3.col-lg-3.branding
        .portfolio-item
          .hover-bg
            a(href='img/portfolio/06.jpg', title='Project description', rel='prettyPhoto')
              .hover-text
                h4 Project Title
                small Developer
                .clearfix
                i.fa.fa-search
              img.img-responsive(src='img/portfolio/06.jpg', alt='Project Title')
      .col-sm-6.col-md-3.col-lg-3.branding.app
        .portfolio-item
          .hover-bg
            a(href='img/portfolio/07.jpg', title='Project description', rel='prettyPhoto')
              .hover-text
                h4 Project Title
                small Developer
                .clearfix
                i.fa.fa-search
              img.img-responsive(src='img/portfolio/07.jpg', alt='Project Title')
      .col-sm-6.col-md-3.col-lg-3.web
        .portfolio-item
          .hover-bg
            a(href='img/portfolio/08.jpg', title='Project description', rel='prettyPhoto')
              .hover-text
                h4 Project Title
                small Developer
                .clearfix
                i.fa.fa-search
              img.img-responsive(src='img/portfolio/08.jpg', alt='Project Title')