#resume.component
  .section-title.text-center.center
    h2(data-i18n="business-card-resume-title")
    hr
  .d-flex.justify-content-center
    a.btn.btn-primary.btn-lg.mr-1(href="assets/files/yf-cv.pdf" target="_blank")
      i.fas.fa-file-pdf
    a.btn.btn-primary.btn-lg(href="https://drive.google.com/open?id=1RPKIdkOwcD_A4P0ZWQGrlFt5-abcN6-3CBJ7WvM8mc8" target="_blank")
      i.fas.fa-file-word