#testimonials.text-center
	.container
		.section-title.center
			h2 Testimonials
			hr
		.row
			.col-md-8.col-md-offset-2
				#testimonial.owl-carousel.owl-theme
					.item
						img.img-circle(src='img/clients/01.jpg', alt='')
						p
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at duis sed dapibus leo nec ornare diam.
						p
							strong John DOE
							| , CEO, Company.
					.item
						img.img-circle(src='img/clients/02.jpg', alt='')
						p
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at duis sed dapibus leo nec ornare diam.
						p
							strong Jenny DOE
							| , CEO, Company.
					.item
						img.img-circle(src='img/clients/03.jpg', alt='')
						p
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at duis sed dapibus leo nec ornare diam.
						p
							strong John DOEn
							| , CEO, Company.
