<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="assets/vendors/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/owl.carousel/dist/assets/owl.carousel.min.css"/>
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

include ./components/header
include ./components/menu
include ./components/about_me
include ./components/experience
include ./components/skills
include ./components/portfolio
include ./components/testimonials
include ./components/footer

<script src="assets/vendors/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>