<!DOCTYPE html>
html(lang="en" dir="ltr")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="icon" type="image/png" href="assets/images/favicon-96x96.png")
        link(rel="stylesheet" href="dist/bootstrap/bootstrap.min.css")
        link(rel="stylesheet" href="dist/flag-icon-css/css/flag-icon.min.css")
        link(rel="stylesheet" href="all.min.css")
    body
        a#back-to-top
        include ./components/header
        include ./components/loader
        include ./components/menu
        include ./components/about_me
        include ./components/resume
        include ./components/skills
        include ./components/experience
        include ./components/education
        include ./components/portfolio
        include ./components/footer

        script(src="dist/jquery/jquery.min.js")
        script(src="dist/jquery.i18n/jquery.i18n.js")
        script(src="dist/jquery.i18n/jquery.i18n.emitter.bidi.js")
        script(src="dist/jquery.i18n/jquery.i18n.emitter.js")
        script(src="dist/jquery.i18n/jquery.i18n.fallbacks.js")
        script(src="dist/jquery.i18n/jquery.i18n.language.js")
        script(src="dist/jquery.i18n/jquery.i18n.messagestore.js")
        script(src="dist/jquery.i18n/jquery.i18n.parser.js")
        script(src="dist/bootstrap/bootstrap.min.js")
        script(src="https://kit.fontawesome.com/881f5f7b9e.js" crossorigin="anonymous")
        script(src="all.min.js")