@use "../../base/settings" as *;

ul.experience-timeline {
  list-style-type: none;
  position: relative;

  p {
    margin-left: 1rem;

    &.experience-title {
      margin-bottom: 0;
    }

    &.experience-subtitle {
      padding-top: 0.1rem;
      font-size: 0.8rem;
    }
  }

  &:before {
    content: ' ';
    background: $white;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
  }

  > li {
    margin: 1rem 0;
    padding-left: 20px;

    &:before {
      content: ' ';
      background: $white;
      display: inline-block;
      position: absolute;
      border-radius: 50%;
      border: 0.2rem solid $orange;
      left: 1.2rem;
      width: 1.2rem;
      height: 1.2rem;
      z-index: 400;
    }
  }
}
