@import "./components/components.general";
@import "./components/components.header";
@import "./components/components.menu";
@import "./components/components.about_me";
@import "./components/components.experience";
@import "./components/components.portfolio";
@import "./components/components.testimonials";
@import "./components/components.footer";