---
name: Release

on: # yamllint disable-line rule:truthy
  push:
    tags:
      - 'v*.*.*'

defaults:
  run:
    shell: sh

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    outputs:
      deploy-time: "${{ steps.metadata.outputs.deploy-time }}"
    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v6

      - name: Cache yarn dependencies
        id: yarn-cache
        uses: actions/cache@v4
        with:
          path: |
            .yarn/cache
            node_modules
          key: "${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}-${{ hashFiles('**/.yarnrc.yml') }}"
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Compile
        if: ${{ steps.yarn-cache.outputs.cache-hit != 'true' }}
        run: yarn install

      - name: Build
        uses: pyTooling/Actions/with-post-step@v6.7.0
        with:
          key: "build-business-card"
          main: |
            {
              echo "REACT_APP_PUBLIC_POSTHOG_KEY=${{ secrets.REACT_APP_PUBLIC_POSTHOG_KEY }}"
              echo "REACT_APP_PUBLIC_POSTHOG_HOST=${{ secrets.REACT_APP_PUBLIC_POSTHOG_HOST }}"
            } > .env
            yarn run build:prod
          post: rm -f .env

      - name: Prepare metadata
        id: metadata
        run: echo "deploy-time=$(date -u +"%Y-%m-%dT%H:%M:%SZ")" >> "$GITHUB_OUTPUT"

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public

  github:
    name: GitHub
    needs: [deploy]
    uses: fabasoad/reusable-workflows/.github/workflows/wf-github-release.yml@main
    permissions:
      contents: write
    with:
      bump-tags: false

  trigger-security-dast:
    name: Trigger Security DAST
    needs: [deploy]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Get GitHub token
        uses: actions/create-github-app-token@v2
        id: github-app
        with:
          app-id: ${{ vars.GH_APP_WORKFLOW_CRUD_APP_ID }}
          private-key: ${{ secrets.GH_APP_WORKFLOW_CRUD_PRIVATE_KEY }}

      - name: Wait for deployment
        env:
          INPUT_DEPLOY_TIME: "${{ needs.deploy.outputs.deploy-time }}"
          RENDER_SERVICE_ID: "${{ secrets.RENDER_SERVICE_ID }}"
          RENDER_API_KEY: "${{ secrets.RENDER_API_KEY }}"
        run: ./wait-deploy-completed.sh "${INPUT_DEPLOY_TIME}"
        working-directory: "${{ github.workspace }}/scripts"

      - name: Dispatch workflow
        uses: actions/github-script@v8
        with:
          github-token: "${{ steps.github-app.outputs.token }}"
          script: |
            github.rest.actions.createWorkflowDispatch({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: "security-dast.yml",
              ref: process.env.GITHUB_REF_NAME,
              inputs: {
                "target-url": "https://fabasoad.com"
              }
            });
