---
name: DAST

on:
  workflow_dispatch:
    inputs:
      target-url:
        description: Target URL
        required: true
        default: "https://fabasoad.com"

defaults:
  run:
    shell: sh

jobs:
  security:
    name: Security
    uses: fabasoad/reusable-workflows/.github/workflows/wf-security-dast.yml@main
    permissions:
      contents: read
      security-events: write
    with:
      target-url: "${{ github.event.inputs.target-url }}"
