@font-face {
  font-family: 'HackGen-Bold';
  src: url(fonts/HackGen/HackGen-Bold.ttf);
}
@font-face {
  font-family: 'HackGen-ExtraBold';
  src: url(fonts/HackGen/HackGen35-Bold.ttf);
}
@font-face {
  font-family: 'HackGen-Medium';
  src: url(fonts/HackGen/HackGen35-Regular.ttf);
}
@font-face {
  font-family: 'HackGen-Regular';
  src: url(fonts/HackGen/HackGen-Regular.ttf);
}
@font-face {
  font-family: 'JetBrainsMono-Bold';
  src: url(fonts/JetBrains/JetBrainsMono-Bold.woff);
}
@font-face {
  font-family: 'JetBrainsMono-ExtraBold';
  src: url(fonts/JetBrains/JetBrainsMono-ExtraBold.woff);
}
@font-face {
  font-family: 'JetBrainsMono-Medium';
  src: url(fonts/JetBrains/JetBrainsMono-Medium.woff);
}
@font-face {
  font-family: 'JetBrainsMono-Regular';
  src: url(fonts/JetBrains/JetBrainsMono-Regular.woff);
}
.font-bold {
	&.font-jp {
		font-family: 'HackGen-Bold', 'JetBrainsMono-Medium', Helvetica, Arial, sans-serif;
	}
	&.font-non-jp {
		font-family: 'JetBrainsMono-Bold', Helvetica, Arial, sans-serif;
	}
}
.font-extra-bold {
	&.font-jp {
		font-family: 'HackGen-ExtraBold', 'JetBrainsMono-Medium', Helvetica, Arial, sans-serif;
	}
	&.font-non-jp {
		font-family: 'JetBrainsMono-ExtraBold', Helvetica, Arial, sans-serif;
	}
}
.font-medium {
	&.font-jp {
		font-family: 'HackGen-Medium', 'JetBrainsMono-Medium', Helvetica, Arial, sans-serif;
	}
	&.font-non-jp {
		font-family: 'JetBrainsMono-Medium', Helvetica, Arial, sans-serif;
	}
}
.font-regular {
	&.font-jp {
		font-family: 'HackGen-Regular', 'JetBrainsMono-Medium', Helvetica, Arial, sans-serif;
	}
	&.font-non-jp {
		font-family: 'JetBrainsMono-Regular', Helvetica, Arial, sans-serif;
	}
}
