// Colors
$blue: #2c3e50;
$dark-blue: #0f161d;
$dark-grey: #212529;
$dark-orange: #9f5501;
$dark-white: #d3ddec;
$grey: #333333;
$light-blue: #b4c3d2;
$orange: #e87e04;
$white: #f4f5f6;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
// Screen size
$mobile-breakpoint: 320px;
$tablet-breakpoint: 481px;
$small-desktop-breakpoint: 768px;
$desktop-breakpoint: 1025px;
$tv-breakpoint: 1201px;

$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
$xxl-breakpoint: 1400px;

:root {
  --global-foreground-secondary-color: #333333;
  --global-foreground-hover-color: #212529;

  --margin-lane-background-color: #2c3e50;
  --margin-lane-title-color: #f4f5f6;
  --margin-lane-foreground-primary-color: #f4f5f6;
  --margin-lane-foreground-secondary-color: #d3ddec;
  --margin-lane-foreground-active-color: #d3ddec;
  --margin-lane-foreground-focus-color: #e87e04;
  --margin-lane-foreground-hover-color: #e87e04;

  --error-background-color: #2c3e50;
  --error-foreground-primary-color: #0f161d;
  --error-foreground-secondary-color: #e87e04;
  --error-foreground-hover-color: #9f5501;

  --header-background-color: #b4c3d2;
  --header-foreground-primary-color: #0f161d;
  --header-foreground-secondary-color: #212529;
  --header-foreground-active-background-color: #2c3e50;
  --header-foreground-active-color: #eeeeee;
  --header-foreground-focus-background-color: #2c3e50;
  --header-foreground-focus-color: #eeeeee;
  --header-foreground-hover-background-color: #2c3e50;
  --header-foreground-hover-color: #eeeeee;

  --section-background-color: #f4f5f6;
  --section-title-color: #333333;
  --section-foreground-primary-color: #212529;
  --section-foreground-secondary-color: #9f5501;
  --section-foreground-active-color: #d3ddec;
  --section-foreground-focus-color: #e87e04;
  --section-foreground-hover-color: #e87e04;

  --section-about-me-photo-background-color: #b4c3d2;

  --section-languages-color: #9f5501;
  --section-languages-hover-color: #e87e04;
}
