// Colors
$blue: #2c3e50;
$dark-blue: #0f161d;
$dark-grey: #212529;
$dark-orange: #9f5501;
$dark-white: #d3ddec;
$grey: #333333;
$light-blue: #b4c3d2;
$orange: #e87e04;
$white: #f4f5f6;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
// Screen size
$mobile-breakpoint: 320px;
$tablet-breakpoint: 481px;
$small-desktop-breakpoint: 768px;
$desktop-breakpoint: 1025px;
$tv-breakpoint: 1201px;

$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
$xxl-breakpoint: 1400px;

:root {
  --margin-lane-background-color: #2c3e50;
  --margin-lane-title-color: $white;
  --margin-lane-foreground-primary-color: #f4f5f6;
  --margin-lane-foreground-secondary-color: #d3ddec;
  --margin-lane-foreground-active-color: #d3ddec;
  --margin-lane-foreground-focus-color: #e87e04;
  --margin-lane-foreground-hover-color: #e87e04;

  --header-background-color: $light-blue;
  --header-foreground-primary-color: $dark-blue;
  --header-foreground-secondary-color: $white;
  --header-foreground-hover-color: $blue;

  --section-title-color: $grey;
  --section-foreground-primary-color: $dark-grey;
  --section-foreground-secondary-color: $dark-orange;
  --section-foreground-hover-color: $orange;
}
