// Colors
$blue: #2c3e50;
$light-blue: #2c3e5033;
$dark-blue: #0f161d;
$dark-grey: #212529;
$grey: #333;
$orange: #e87e04;
$white: #f4f5f6;
$dark-white: #d3ddec;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
